body{
    margin: 0;
    background: url('../img/fon.jpg');
    background-size: contain;
}
h1{
    margin: 20px auto;
    width: fit-content;
    font-size: 30pt;
    color: antiquewhite;
}
main{
    background-color: rgba(255,255,255,0.5);
    width: 1024px;
    margin: 0 auto;
}
main section{
    width: 930px;
    margin: 0px auto;
}
main img{
    width: 300px;
    height: 188px;
}

main a{
    float: left;
    display: block;
    margin-top: 20px;
    margin-right: 15px;
}
.image{
    width: 900px;
    height: 650px;
    margin-right: auto;
    margin-top: 43px;
    margin-bottom: 15px;
    margin-left: auto;
}
p{
    font-size: 20pt;
    text-align: center;
}

main a:nth-child(3n){
    margin-right: 0;
}
main a:nth-last-child(3){
    margin-bottom: 20px;
}

.cleardiv{
    clear: both;
    width: 100%;
    height: 1px;

}
.section_foto{
    width: 901px;
    margin: 30px auto;
}